body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

.container {
  max-width: 1200px;
  width: 90%;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

/* Navbar */

.nav-container {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  margin: 0 1.5%;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
}

.nav .nav-brand h1 a {
  text-decoration: none;
  color: black;
}

span {
  font-style: italic;
  color: darkgreen;
}

.nav-menu {
  font-size: 20px;
}

.nav-menu a {
  padding: 10px;
  text-decoration: none;
  color: black;
  display: inline-block;
}

.nav-menu a:hover {
  color: darkgreen;
}

.nav-menu a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid darkgreen;
  transform: scaleX(0);
  transition: 0.2s linear;
}

.nav-menu a:hover::after {
  transform: scaleX(0.5);
}

.ai-center {
  align-items: center;
}

.img-responsive {
  width: 130%;
}

.hero-desc h2 {
  font-size: 60px;
}

.hero-desc h1 {
  font-size: 50px;
}

.btn {
  background: darkgreen;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 30px;
  margin-top: 10px;
}

.btn a {
  text-decoration: none;
  color: white;
}

.btn:hover {
  background: darkred;
}
